<div class="app-body" style="height: 100vh;">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">

              <form [formGroup]="registerForm">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="First name" autocomplete="username" required formControlName="fname">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Last name" autocomplete="username" required formControlName="lname">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="tel" class="form-control" placeholder="Phone number" autocomplete="" formControlName="phone" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email" formControlName="email"
                    (keyup)="onValidate('email')" autocomplete="username" required>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password" formControlName="password1"
                    (keyup)="onValidate('password')" autocomplete="current-password" required>
                </div>

                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password" formControlName="password2"
                    (keyup)="onValidate('password')" autocomplete="current-password" required>
                </div>

                <div class="row">
                  <div class="col-6">
                    <button type="button" class="btn btn-primary px-4" (click)="onRegister()">Register as student</button>
                  </div>
                  <div class="col-6 text-right">
                    <button type="button" class="btn btn-link px-0" (click)="gotoLogin()">Login</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
