<app-header [navbarBrandRouterLink]="[homeUrl]" [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.png', width: 89, height: 25, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/logo.png', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'" [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" href="javascript:;">Dashboard</a>
    </li>
    <li class="nav-item px-3" *ngIf="isAdmin">
      <a class="nav-link" routerLink="/app/users/all">Users</a>
    </li>
    <li class="nav-item px-3" *ngIf="isAdmin">
      <a class="nav-link" routerLink="/system/settings">Settings</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <!-- <li class="nav-item d-md-down-none">
      <a class="nav-link" href="javascript:;"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
    </li>
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="javascript:;"><i class="icon-list"></i></a>
    </li>
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="javascript:;"><i class="icon-location-pin"></i></a>
    </li> -->
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="javascript:;" role="button" aria-haspopup="true"
        aria-expanded="false" dropdownToggle (click)="false">
        {{loggedUser?.profile?.firstName??''+ loggedUser?.profile?.otherName??''+ loggedUser?.profile?.lastName??''}}
        <img [src]="getUserPhoto()" class="img-avatar"
          alt="{{loggedUser?.email}}" />
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <!-- <div class="dropdown-header text-center"><strong>Notifications</strong></div>
        <a class="dropdown-item" href="javascript:;"><i class="fa fa-bell-o"></i> Updates<span
            class="badge badge-info">0</span></a>
        <a class="dropdown-item" [routerLink]="['/app/mail']" routerLinkActive="router-link-active"><i
            class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">{{receivedMessageCount}}</span></a> -->
        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <a href="javascript:;" class="dropdown-item" (click)="goToUser()"><i class="fa fa-user"></i> Profile</a>
        <!-- <a class="dropdown-item" href="javascript:;"><i class="fa fa-wrench"></i> Setting</a>

        <div class="divider"></div> -->
        <a  href="javascript:;" class="dropdown-item" (click)="lock()"><i class="fa fa-shield"></i> Lock account</a>
        <a  href="javascript:;" class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'" *ngIf="navItems">
    <app-sidebar-nav [navItems]="navItems " [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <cui-breadcrumb>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn" href="javascript:;" [routerLink]="['/app/mail']" routerLinkActive="router-link-active"><i class="icon-speech"></i></a>
          <a class="btn" [routerLink]="[homeUrl]"><i class="icon-graph"></i> &nbsp;Dashboard</a>
          <a class="btn" href="javascript:;"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
      </li>
    </cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>

</div>
<app-footer>
  <span><a href="#"></a> &copy; {{currentYear}} Bishops university student project</span>
  <span class="ml-auto">Powered by <a href="https://coreui.io/angular" target="_">CoreUI</a></span>
</app-footer>
