
<div class="animated fadeIn">
  <!-- <div class="col-md-12 m-0 p-0" *ngIf="isAdmin && isSellerPage">
    <div class="input-group ">
      <select id="phototype" name="phototype" class="form-control" [(ngModel)]="Seller">
        <option value="undefined" selected="selected">Select seller</option>
        <option *ngFor="let s of sellers" [value]="s?.id">
         <span *ngIf="s?.profile?.firstName">{{s?.profile?.firstName +' '+s?.profile?.otherName+' '+s?.profile?.lastName}}</span>
         <span *ngIf="!s?.profile?.firstName">{{s?.email +' '+s?.phone}}</span>
        </option>
      </select>
    </div>
  </div> -->
  <!-- <div class="col-md-12 m-0 p-0" *ngIf="isAdmin&">
    <div class="input-group ">
      <select id="phototype" name="phototype" class="form-control" [(ngModel)]="Manager">
        <option value="undefined" selected="selected">Select manager</option>
        <option *ngFor="let m of managers" [value]="m?.id">
         <span *ngIf="m?.profile?.firstName">{{m?.profile?.firstName +' '+m?.profile?.otherName+' '+m?.profile?.lastName}}</span>
         <span *ngIf="!m?.profile?.firstName">{{m?.email +' '+m?.phone}}</span>
        </option>
      </select>
    </div>
  </div> -->
  <hr *ngIf="isAdmin">
  <div class="card-header">
    <div class="row text-center">
      <!-- <h4 class="w-100 text-danger">Account number: {{account?.accountNumber}}</h4> -->
    </div>
  </div>
  <br>
  <div class="row mb-2">
    <div class="col-12 col-lg-3 col-md-5 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-bell bg-warning p-4 px-5 font-2xl mr-3 float-left"></i>
          <!-- <div class="h5 text-warning mb-0 pt-3">{{account?.balance |currency:'GHS '}}</div> -->
          <div class="text-muted text-uppercase font-weight-bold font-xs">Floating amount</div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-3 col-md-4 offset-md-3 offset-lg-6 col-sm-12 offset-sm-0 col-xs-12 offset-xs-0">
      <!-- <app-request-for-withdrawal></app-request-for-withdrawal> -->
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-location-pin"></i>
          </button>
          <!-- <div class="text-value">{{orders?.length}}</div> -->
          <div>Total Processed Orders</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart" [datasets]="lineChart2Data" [labels]="lineChart2Labels"
            [options]="lineChart2Options" [colors]="lineChart2Colours" [legend]="lineChart2Legend"
            [chartType]="lineChart2Type"></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <!-- <a class="dropdown-item">Action</a>
              <a class="dropdown-item">Another action</a>
              <a class="dropdown-item">Something else here</a>
              <a class="dropdown-item">Something else here</a> -->
            </div>
          </div>
          <!-- <div class="text-value">{{account?.transactions?.length||0}}</div> -->
          <div>Total transactions</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart" [datasets]="lineChart1Data" [labels]="lineChart1Labels"
            [options]="lineChart1Options" [colors]="lineChart1Colours" [legend]="lineChart1Legend"
            [chartType]="lineChart1Type"></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <!-- <a class="dropdown-item">Action</a>
              <a class="dropdown-item">Another action</a>
              <a class="dropdown-item">Something else here</a> -->
            </div>
          </div>
          <!-- <div class="text-value">{{(account?.balance||0) |currency:'GHS '}}</div> -->
          <div>Balance</div>
        </div>
        <div class="chart-wrapper mt-3" style="height:70px;">
          <canvas baseChart class="chart" [datasets]="lineChart3Data" [labels]="lineChart3Labels"
            [options]="lineChart3Options" [colors]="lineChart3Colours" [legend]="lineChart3Legend"
            [chartType]="lineChart3Type"></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-success">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <!-- <a class="dropdown-item">Action</a>
              <a class="dropdown-item">Another action</a>
              <a class="dropdown-item">Something else here</a> -->
            </div>
          </div>
          <!-- <div class="text-value">{{computeAmountWithdrawable()|currency:'GHS '}}</div> -->
          <div>Amount withdrawable</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart" [datasets]="barChart1Data" [labels]="barChart1Labels"
            [options]="barChart1Options" [colors]="barChart1Colours" [legend]="barChart1Legend"
            [chartType]="barChart1Type"></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>




  <div class="row">
    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-credit-card bg-success p-3 font-2xl mr-3 float-left"></i>
          <!-- <div class="h5 text-success mb-0 mt-2">{{(computeTotal(sortedTransactions?.credits??[])||0) |currency:'GHS '}}
          </div> -->
          <div class="text-muted text-uppercase font-weight-bold font-xs">Total credited amount</div>
        </div>
        <div class="card-footer px-3 py-2">
          <a class="font-weight-bold font-xs btn-block text-muted">View More <i
              class="fa fa-angle-right float-right font-lg"></i></a>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-pie-chart bg-info p-3 font-2xl mr-3 float-left"></i>
          <!-- <div class="h5 text-info mb-0 mt-2">{{sortedTransactions?.credits?.length || 0}}</div> -->
          <div class="text-muted text-uppercase font-weight-bold font-xs">Total credit transactions</div>
        </div>
        <div class="card-footer px-3 py-2">
          <a class="font-weight-bold font-xs btn-block text-muted">View More <i
              class="fa fa-angle-right float-right font-lg"></i></a>
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-credit-card-alt bg-danger p-3 font-2xl mr-3 float-left"></i>
          <!-- <div class="h5 text-danger mb-0 mt-2">{{(computeTotal(sortedTransactions?.debits??[])||0) |currency:'GHS '}}</div> -->
          <div class="text-muted text-uppercase font-weight-bold font-xs">Total debited amount</div>
        </div>
        <div class="card-footer px-3 py-2">
          <a class="font-weight-bold font-xs btn-block text-muted">View More <i
              class="fa fa-angle-right float-right font-lg"></i></a>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-pie-chart bg-info p-3 font-2xl mr-3 float-left"></i>
          <!-- <div class="h5 text-info mb-0 mt-2">{{sortedTransactions?.debits?.length || 0}}</div> -->
          <div class="text-muted text-uppercase font-weight-bold font-xs">Total debit transactions</div>
        </div>
        <div class="card-footer px-3 py-2">
          <a class="font-weight-bold font-xs btn-block text-muted">View More <i
              class="fa fa-angle-right float-right font-lg"></i></a>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-cart-plus bg-success p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-success mb-0 mt-2">{{processedOrdersAmount|currency:'GHS '}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Processed Orders</div>
        </div>
        <div class="card-footer px-3 py-2">
          <a class="font-weight-bold font-xs btn-block text-muted">View More <i
              class="fa fa-angle-right float-right font-lg"></i></a>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-shopping-basket bg-warning p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-danger mb-0 mt-2">{{pendingOrdersAmount | currency:'GHS '}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Pending orders</div>
        </div>
        <div class="card-footer px-3 py-2">
          <a class="font-weight-bold font-xs btn-block text-muted">View More <i
              class="fa fa-angle-right float-right font-lg"></i></a>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-3 clearfix">
          <i class="fa fa-car bg-warning p-3 font-2xl mr-3 float-left"></i>
          <!-- <div class="h5 text-info mb-0 mt-2">{{ordersInTransit?.length || 0 }}</div> -->
          <div class="text-muted text-uppercase font-weight-bold font-xs">Orders in transit</div>
        </div>
        <div class="card-footer px-3 py-2">
          <a class="font-weight-bold font-xs btn-block text-muted">View More <i
              class="fa fa-angle-right float-right font-lg"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
