<main class="main" style="height: 100vh; margin-left: 0 !important;">
  <div class="tab tab-boxed tab-nav-boxed tab-outline">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#donald-icons">Riode Icons</a>
      </li>
    </ul>
    <div class="tab-content" style="height:700px; overflow:scroll">
      <div class="tab-pane active pb-2" id="donald-icons">
        <div class="row sample-icon-list">
          <div class="sample-icon">
            <i class="d-icon-truck"></i>
            <span class="name">d-icon-truck</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-service"></i>
            <span class="name">d-icon-service</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-secure"></i>
            <span class="name">d-icon-secure</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-lock"></i>
            <span class="name">d-icon-lock</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-percent"></i>
            <span class="name">d-icon-percent</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-layer"></i>
            <span class="name">d-icon-layer</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-alert"></i>
            <span class="name">d-icon-alert</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-database"></i>
            <span class="name">d-icon-database</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-money"></i>
            <span class="name">d-icon-money</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-shoppingbag"></i>
            <span class="name">d-icon-shoppingbag</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-t-shirt1"></i>
            <span class="name">d-icon-t-shirt1</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-t-shirt2"></i>
            <span class="name">d-icon-t-shirt2</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-hat"></i>
            <span class="name">d-icon-hat</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-officebag"></i>
            <span class="name">d-icon-officebag</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-hadbag"></i>
            <span class="name">d-icon-hadbag</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-backpack"></i>
            <span class="name">d-icon-backpack</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-shoes"></i>
            <span class="name">d-icon-shoes</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-pillow"></i>
            <span class="name">d-icon-pillow</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-dress"></i>
            <span class="name">d-icon-dress</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-loungewear"></i>
            <span class="name">d-icon-loungewear</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-desktop"></i>
            <span class="name">d-icon-desktop</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-laptop"></i>
            <span class="name">d-icon-laptop</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-gamepad1"></i>
            <span class="name">d-icon-gamepad1</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-wireless"></i>
            <span class="name">d-icon-wireless</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-projector"></i>
            <span class="name">d-icon-projector</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-drone1"></i>
            <span class="name">d-icon-drone1</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-drone2"></i>
            <span class="name">d-icon-drone2</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-radio"></i>
            <span class="name">d-icon-radio</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-battery"></i>
            <span class="name">d-icon-battery</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-plugin"></i>
            <span class="name">d-icon-plugin</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-memory"></i>
            <span class="name">d-icon-memory</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-ball"></i>
            <span class="name">d-icon-ball</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-basketball1"></i>
            <span class="name">d-icon-basketball1</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-babycare"></i>
            <span class="name">d-icon-babycare</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-card"></i>
            <span class="name">d-icon-card</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-gamepad2"></i>
            <span class="name">d-icon-gamepad2</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-camera1"></i>
            <span class="name">d-icon-camera1</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-camera2"></i>
            <span class="name">d-icon-camera2</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-babywear"></i>
            <span class="name">d-icon-babywear</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-abacus"></i>
            <span class="name">d-icon-abacus</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-pot"></i>
            <span class="name">d-icon-pot</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-freezer"></i>
            <span class="name">d-icon-freezer</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-cook"></i>
            <span class="name">d-icon-cook</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-student"></i>
            <span class="name">d-icon-student</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-category"></i>
            <span class="name">d-icon-category</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-basketball2"></i>
            <span class="name">d-icon-basketball2</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-watch"></i>
            <span class="name">d-icon-watch</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-tcard"></i>
            <span class="name">d-icon-tcard</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-heartbeat"></i>
            <span class="name">d-icon-heartbeat</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-watch-round"></i>
            <span class="name">d-icon-watch-round</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-washbowl"></i>
            <span class="name">d-icon-washbowl</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-bridge-lamp"></i>
            <span class="name">d-icon-bridge-lamp</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-lamp"></i>
            <span class="name">d-icon-lamp</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-sofa"></i>
            <span class="name">d-icon-sofa</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-sofa2"></i>
            <span class="name">d-icon-sofa2</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-bed"></i>
            <span class="name">d-icon-bed</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-table"></i>
            <span class="name">d-icon-table</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-table-lamp"></i>
            <span class="name">d-icon-table-lamp</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-table-tv"></i>
            <span class="name">d-icon-table-tv</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-mirror"></i>
            <span class="name">d-icon-mirror</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-volume"></i>
            <span class="name">d-icon-volume</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-bars2"></i>
            <span class="name">d-icon-bars2</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-bars"></i>
            <span class="name">d-icon-bars</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-phone"></i>
            <span class="name">d-icon-phone</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-user"></i>
            <span class="name">d-icon-user</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-search"></i>
            <span class="name">d-icon-search</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-bag"></i>
            <span class="name">d-icon-bag</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-map"></i>
            <span class="name">d-icon-map</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-info"></i>
            <span class="name">d-icon-info</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-refresh"></i>
            <span class="name">d-icon-refresh</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-ruler"></i>
            <span class="name">d-icon-ruler</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-zoom"></i>
            <span class="name">d-icon-zoom</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-star"></i>
            <span class="name">d-icon-star</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-star-full"></i>
            <span class="name">d-icon-star-full</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-heart"></i>
            <span class="name">d-icon-heart</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-heart-full"></i>
            <span class="name">d-icon-heart-full</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-close"></i>
            <span class="name">d-icon-close</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-play-circle"></i>
            <span class="name">d-icon-play-circle</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-home"></i>
            <span class="name">d-icon-home</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-filter-2"></i>
            <span class="name">d-icon-filter-2</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-switch"></i>
            <span class="name">d-icon-switch</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-switch-left-on"></i>
            <span class="name">d-icon-switch-left-on</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-switch-right-on"></i>
            <span class="name">d-icon-switch-right-on</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-filter-2"></i>
            <span class="name">d-icon-filter-2</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-alert-solid"></i>
            <span class="name">d-icon-alert-solid</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-headphone"></i>
            <span class="name">d-icon-headphone</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-mode-grid"></i>
            <span class="name">d-icon-mode-grid</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-mode-list"></i>
            <span class="name">d-icon-mode-list</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-angle-left"></i>
            <span class="name">d-icon-angle-left</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-angle-right"></i>
            <span class="name">d-icon-angle-right</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-cancel"></i>
            <span class="name">d-icon-cancel</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-instagram"></i>
            <span class="name">d-icon-instagram</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-check"></i>
            <span class="name">d-icon-check</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-play-solid"></i>
            <span class="name">d-icon-play-solid</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-angle-right"></i>
            <span class="name">d-icon-angle-right</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-angle-up"></i>
            <span class="name">d-icon-angle-up</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-angle-down"></i>
            <span class="name">d-icon-angle-down</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-angle-left"></i>
            <span class="name">d-icon-angle-left</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-lightbulb"></i>
            <span class="name">d-icon-lightbulb</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-mobile"></i>
            <span class="name">d-icon-mobile</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-minus"></i>
            <span class="name">d-icon-minus</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-plus"></i>
            <span class="name">d-icon-plus</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-wifi"></i>
            <span class="name">d-icon-wifi</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-times"></i>
            <span class="name">d-icon-times</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-times-circle"></i>
            <span class="name">d-icon-times-circle</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-random"></i>
            <span class="name">d-icon-random</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-th-list"></i>
            <span class="name">d-icon-th-list</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-rocket"></i>
            <span class="name">d-icon-rocket</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-map-marker"></i>
            <span class="name">d-icon-map-marker</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-birthday-cake"></i>
            <span class="name">d-icon-birthday-cake</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-gift"></i>
            <span class="name">d-icon-gift</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-female"></i>
            <span class="name">d-icon-female</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-clock"></i>
            <span class="name">d-icon-clock</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-comments"></i>
            <span class="name">d-icon-comments</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-arrow-down"></i>
            <span class="name">d-icon-arrow-down</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-arrow-left"></i>
            <span class="name">d-icon-arrow-left</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-arrow-right"></i>
            <span class="name">d-icon-arrow-right</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-arrow-up"></i>
            <span class="name">d-icon-arrow-up</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-info-circle"></i>
            <span class="name">d-icon-info-circle</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-rotate-left"></i>
            <span class="name">d-icon-rotate-left</span>
          </div>
          <div class="sample-icon">
            <i class="d-icon-rotate-right"></i>
            <span class="name">d-icon-rotate-right</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
